{% extends 'layout.html.twig' %}

{% set main = 'account' %}

{% block title %}
	Ucty
{% endblock %}

{% block breadcrumbs %}
	<li><a href="{{ path('index') }}">Eviz</a></li>
	<li>Ucty</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-6 py-4">
		<button id="myBtn" class="text-center w-100 btn btn-success" type="submit">Vytvorit novy ucet</button>
	</div>
</div>

<div id="accountModal" class="account-modal">
	<div class="account-content">
		<h2>Vytvorit novy ucet</h2>
		{{ form(form) }}
		<button class="btn btn-secondary w-100 close-modal">Zrusit</button>
	</div>
</div>

<h1 class="p-b-4">Uzivatelske ucty</h1>

	<table id="accountsTable" class="table table-striped table-bordered" style="width:100%">
		<thead>
		<tr>
			<th>Nazev uctu</th>
			<th>Email</th>
			<th>Platne do</th>
			<th>Role</th>
		</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
					<td>
						{% if user.validTo %}
							{{ user.validTo|date("m/d/Y", false) }}
						{% else %}
							Permanentni ucet.
						{% endif %}
					</td>
					<td>{{ user.getRoles() |join(', ') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

<script>
	var modal = document.getElementById("accountModal");
	var btn = document.getElementById("myBtn");
	var close = document.getElementsByClassName("close-modal")[0];

	btn.onclick = function() {
		modal.style.display = "block";
	}
	close.onclick = function() {
		modal.style.display = "none";
	}
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
</script>
{% endblock %}
