{% extends 'layout.html.twig' %}

{% set main = 'account' %}

{% block title %}
	Uživatelé
{% endblock %}

{% block breadcrumbs %}
	<li><a href="{{ path('index') }}">uproom</a></li>
	<li>uživatelé</li>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-6 py-4">
		<button id="myBtn" class="text-center w-100 btn btn-success" type="submit">Nový účet</button>
	</div>
</div>

<h1 class="p-b-4">Uživatelé</h1>
	<table id="accountsTable" class="table table-striped table-bordered" style="width:100%">
		<thead>
		<tr>
			<th>Jméno</th>
			<th>Správce místnosti</th>
			<th>Uživatel místností</th>
			<th>Člen skupin</th>
			<th>Správce skupiny</th>
		</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ user.getMemberOfRoom() |join(', ') }}</td>
					<td>{{ user.getRoomManager() |join(', ') }}</td>
					<td>{{ user.getMemberOfGroup() |join(', ') }}</td>
					{# <td>{{ user.getGroupManager() |join(', ') }}</td> #}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
