{% extends 'layout.html.twig' %}

{% block title %}
	Editace: {{ employee.surname }}
{% endblock %}

{% block breadcrumbs %}
	<li><a href="{{ path('index') }}">Eviz</a></li>
	<li><a href="{{ path('employee-detail', { id : employee.id } ) }}">{{ employee.surname }} {{ employee.lastName }}</a></li>
	<li>Editace</li>
{% endblock %}

{% block content %}
	<h1>Editace: {{ employee.surname }} {{ employee.lastName }}</h1>

	{{ form_start(form, {'attr': {'id': 'employee-form' }}) }}
		{{ form(form) }}

	{{ form_end(form) }}

{% endblock %}
